body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.swings {
    width: 23em;
}

button:focus {
    outline: 0 !important;
}

.fakeLink {
    background: none!important;
    border: none;
    padding: .5rem 1rem;
    font-family: arial, sans-serif;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}

.fakeLink:hover {
    text-decoration: underline;
}